@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
/* utils */

.btn{
    background-color: #30b906;
    padding: 3px 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
}

.header__component{
    height: 60px;
    background-color: #386dff;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
}
.header__component nav{
    display: flex;
    column-gap: 30px;
    font-size: 1.05rem;
    font-weight: 700;
    color: #fff;
}
.header__component nav a{
    color: #fff;
}
.header__component nav .active{
    background-color: #004ae4;
    /* width: 70px; */
    padding: 2px 10px;
    border-radius: 3px;
}

.recentExam__container{
    padding: 20px 10vw;
}

.recent__exam{
    background-color: #c1dbff8e;
}

.exam__container{
    border: 2px solid #386dff;
    padding: 10px;
    margin-top: 10px;
}

.exam__details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.exam__container p{
    font-size: .8rem;
}

.exam__btn{
    display: flex;
    justify-content: right;
    transition: 0.2s ease-in;
}
.exam__btn button:hover{
    cursor: pointer;
    transform: scale(1.01);
}